<h1>Carts</h1>
<%= form_tag({:action => :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>
<table>
  <tbody>
    <% gross_total = 0.0 %>
    <% @sales.each do |shop| %>
      <% total = 0.0 %>
      <% shop.carts.each do |element| %>
        <tr>
          <td><%= element.purchaser.name %></td>
          <td><%= element.item.description %></td>
          <td><%= element.item.price %></td>
          <td><%= element.count %></td>
          <td><%= element.item.merchant.address %></td>
          <td><%= element.item.merchant.name %></td>
        </tr>
        <% total += element.item.price * element.count %>
      <% end %>
      <%= total %>
      <% gross_total += total%>
    <% end %>
  </tbody>
</table>
<%= gross_total %>
